import XCTest

@testable import aoc_in_swift

final class DayTMPTests: XCTestCase {
    let input = """
"""

    let part2input = """
"""

    func testPart1Example() throws {
        XCTAssertEqual("TODO", DayTMP().part1(input: input))
    }

    func testPart1Input() throws {
        let input = testInput("dayTMP")
        print("Day TMP, part 1 \(DayTMP().part1(input: input))")
    }

    func testPart2Example() throws {
        XCTAssertEqual("TODO", DayTMP().part2(input: part2input))
    }

    func testPart2Input() throws {
        let input = testInput("dayTMP")
        print("Day TMP, part 2 \(DayTMP().part2(input: input))")
    }
}
